body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
}

.scattered-images-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.scattered-image {
    position: absolute;
    width: 10vw; /* Adjust the size of images */
    height: auto;
}
